body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}
* {
  box-sizing: border-box;
  font-size: 16px;
}
label {
  margin-bottom: 4px;
  font-weight: 600;
}
input,
input:focus,
input:active,
select {
  border: none;
  outline: none;
  background-color: #ffffff;
  padding: 4px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
h6,
h5,
p {
  margin: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sideBar {
  height: 99vh;
  width: 200px;
  background-color: #323e4d;
}

.navBar {
  height: 70px;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bg-grey {
  background-color: #fafafa;
}
.bg-dark-white {
  background-color: #f9f9fa;
}
.task-header {
  border: 1px solid #d1cfcf;
  height: 45px;
}

.add {
  border-left: 1px solid grey;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.editForm {
  background-color: #edf7fc;
  min-height: 300px;
  border: 1px solid #d1cfcf;
}
.inputs {
  border: 1px solid #d1cfcf;
  height: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.w-45 {
  width: 49%;
}

.savebtn {
  background-color: #47bb7f !important;
  color: #ffffff !important;
}
.followcard {
  height: 80px !important;
}

.avatar {
  height: 80%;
}
.cardtitle {
  margin-left: 10px;
}
.cardtitle h5 {
  font-weight: 500;
}
.cardtitle p {
  color: rgb(219, 109, 109);
}
.editContainer {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 80;
}
.listCard {
  max-height: 320px;
  overflow-y: auto;
  padding-bottom: 5px;
  padding-top: 2px;
}
.cursor-pointer{
  cursor: pointer;
}